<div style="width: 700px;margin: 20px;">
  <h1>Student Registration Form</h1>
  <hr>
  <form #userForm = "ngForm" (ngSubmit)="onSubmit(userForm)">
    <p>
    <label for="name">Name :</label>
    <input type="text" placeholder="Enter Name" id="name" name="name" ngModel required>
    </p>

    <p>
      <label for="name">Mail :</label>
      <input type="text" placeholder="Mail" id="mail" name="mail" ngModel required>
      </p>

      <p>
        <label for="name">Mobile :</label>
        <input type="text" placeholder="Mobile" id="mobile" name="mobile" ngModel required>
        </p>
    <p>
      <button type="submit" mat-raised-button [disabled]="userForm.invalid" color="primary">Submit</button>
    </p>
  </form>
</div>
Input JSON Data : 
<p>
{{submitData | json}}
</p>